{% load bootstrap3%}
{% load staticfiles%}
<!DOCTYPE html>

<html lang="en">

<head>

    {%if title%}
        <title>{{title}}</title>
    {% else %}
        <title>Deploy Trial</title>
    {% endif %}

    {%block styles%}
        {%bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
    {%endblock%}
</head>

<body>

    <!-- Content from child templates -->

    {% block content %}
    {% endblock %}
    
    <!-- Javascript -->
    
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>
