{% extends 'base.html' %}
{% load staticfiles%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}
    <h1>{{message}}</h1>

    {% for trial in trials%}
        <h2>{{trial}}</h2>
    {% endfor %}

{% endblock %}